<!-- <div class="container">

  <div class="product-container main-product-container">

    <div class="product-left-container">
      <img src={{data.image}} alt="" width="450" />
    </div>

    <div class="product-col-container">
      <h1 class="product-page">{{data.title}}</h1>
      <p>
        <b>Quick overview</b><br />
        {{data.description}}
      </p>

      <p>
        <b>Category</b><br />
        {{data.category}}
      </p>

      <p class="product-price">
        <b>Price:$</b>
        <span class="price">{{data.price}}</span>
      </p>
      <p>
        {{ data.rating.rate }}&nbsp;<app-star [rating]="data.rating.rate"></app-star>
        <br />{{ data.rating.count }}&nbsp;ratings
      </p>

    </div>

  </div>
  <br clear="all" />
  <br clear="all" />
</div> -->
<div class="container" style="display: flex; justify-content: center; align-items: center; padding: 50px;">
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{data.image}} class="img-fluid rounded-start" alt="myproduct">
    </div>
    <div class="col-md-8">
      <div class="card-body main-product-container">
        <h1 class="card-title product-page">{{data.title}}</h1>        
        <p class="card-text">{{data.description}}</p>
        <p class="card-text">Category: {{data.category}}</p>
        <p class="card-text product-price price">Price: ${{data.price}}</p>
        <p>
          {{ data.rating.rate }}&nbsp;<app-star [rating]="data.rating.rate"></app-star>
          <br /> <small class="text-body-secondary">{{ data.rating.count }}&nbsp;ratings</small>
        </p>
      </div>
    </div>
  </div>
</div>
</div>