.logoName{
    font-weight: bolder;
    font-size: 1.2em;
    font-family: 'Kalam', cursive;
    color:rgb(12, 12, 26);
}
.nav-link{
    /* font-size: 1.2em; */
    font-family: 'Protest Riot', sans-serif;
    color:rgb(33, 33, 88);
}

.mynav{
    background: linear-gradient(29deg, #35fafd 0%, #ffffff 100%);
}